body {
    margin: 0;
    padding: 0;
    background-color: #141519;
    height: 100vh;
    /* important */
    overflow: hidden;
    /* évite le scroll indésirable */
    display: flex;
    flex-direction: column;
    /* organisation verticale */
}

#map {
    height: 100vh;
    /* ← 90% de la hauteur totale */
    width: 100%;
    flex: none;
    /* ne grandit pas plus que 90vh */
}

.draw-rectangle-btn {
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    width: 29px;
    height: 29px;
    padding: 0;
}

.draw-rectangle-btn:hover {
    background-color: #f0f0f0;
}
